@import "~antd/dist/antd.css";

.ant-layout {
  background-color: #fff;
}

.ant-layout-header {
  border-bottom: solid #d9d9d9 1px;
  background-color: #fff;
  height: 66px;
  padding: 0px 50px;
}

.ant-menu-horizontal {
  border: none;
}

@media only screen and (max-width: 576px) {
  .ant-layout-header {
    padding: 0px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // fixed it
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 750px;
  min-height: calc(100vh - 66px);
}

.container-lg {
  max-width: 970px;
}

.home-container {
  margin-top: 30px;
  padding: 0 60px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.dynamic-delete-button {
  margin: 0 8px;
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}


.login-form {
  max-width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.ant-col-rtl .signup-form-button {
  float: left;
}
.login-form-button {
  width: 100%;
}

.signup-form-button {
  width: 100%;
}
